<div class="row">
	<div class="col-lg-12">
		<h3 class="text-center">Advanced Pose Editor</h3>
		{{proxyObjectResolver.resolveProp(pose, 'jointPositions')}}
		<div
			class="row panel tightLeft tightRight tightBottom"
			ng-repeat="group in groups | orderBy:'name'">
			<h4>{{group.name}}</h4>
			<div
				class="col-lg-4 col-md-6 col-sm-12 col-xs-12 jointEditor"
				ng-repeat="jointPosition in group.rows | orderBy:'jointName'">
				<joint-editor
					joint-names="joints"
					joint-position="jointPosition"
					servo-position="getPosition(jointPosition.jointName, servoPositions)"
					servo="getServo(jointPosition.jointName, robot.servos)"
					connected="connected"></joint-editor>
			</div>
			<!-- 			<div -->
			<!-- 				class="row" -->
			<!-- 				ng-repeat="row in group.rows"> -->
			<!-- 				<div class="col-lg-12"> -->
			<!-- 					<div -->
			<!-- 						class="row" -->
			<!-- 						ng-class="{'tightTop':$last || $middle, 'tightBottom':$first || $middle}"> -->
			<!-- 						<div -->
			<!-- 							ng-repeat="jointPosition in row | orderBy:'jointName'" -->
			<!-- 							class="col-lg-4" -->
			<!-- 							ng-class="{'tightRight':$first || $middle || ($last && row.length == 2), 'tightLeft': $middle || $last, 'col-lg-offset-4': $first && $last} " -->
			<!-- 							class="col-lg-4"> -->
			<!-- 							<joint-editor -->
			<!-- 								joint-names="joints" -->
			<!-- 								joint-position="jointPosition" -->
			<!-- 								servo-position="getPosition(jointPosition.jointName, servoPositions)" -->
			<!-- 								servo="getServo(jointPosition.jointName, robot.servos)" -->
			<!-- 								connected="connected"></joint-editor> -->
			<!-- 						</div> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
		</div>
	</div>
</div>
