<div
	ng-controller="robotController"
	ng-cloak>
	<div class="input-group">
		<span class="input-group-addon">Robot</span>
		<select
			class="selectpicker form-control"
			ng-model="selected"
			ng-options="(item.name + ' (' + item.model.name + ': ' + item.version + ')' ) for item in robots | orderBy:'name'">
			<option value="">--Select Robot--</option>
		</select>
		<span class="input-group-btn">
			<button
				class="btn btn-default"
				ng-disabled="true"
				type="button"
				ng-click="newObj()">New</button>
			<button
				class="btn btn-default"
				ng-disabled="true"
				type="button"
				ng-click="deleteObj(selected)">Delete</button>
		</span>
	</div>
	<hr />
	<robot-editor robot="selected" ng-if="selected"></robot-editor>
</div>