<div>
	<form
		novalidate
		name="robotForm"
		model="robot">
		<div class="input-group">
			<span class="input-group-addon">Name</span>
			<input
				type="text"
				name="name"
				class="form-control"
				placeholder="Name"
				saveable
				ng-model="robot.name"
				required>
		</div>
		<div
			class="input-group">
			<span class="input-group-addon">Model</span>
			<select
				ng-disabled="robotForm.model.$pristine && robotForm.model.$valid"
				name="model"
				class="selectpicker form-control"
				ng-model="robot.model_id"
				ng-options="model.id as model.name for model in models | orderBy:'model.name'"
				saveable
				required>
				<option value="">--Select Model--</option>
			</select>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Version</span>
			<input
				type="text"
				name="version"
				class="form-control"
				placeholder="Version"
				ng-disabled="robotForm.model.$pristine && robotForm.model.$valid"
				saveable
				ng-model="robot.version"
				required>
		</div>
	</form>
	<div class="btn-group pull-right">
		<button
			class="btn btn-default"
			type="button"
			ng-disabled="true"
			ng-click="viewJoints(robot)">View Joints</button>
		<button
			class="btn btn-default"
			type="button"
			ng-disabled="true"
			ng-click="calibrateJoints(robot)">Calibrate Joints</button>
	</div>
	<div ui-view></div>
</div>