<div
	class="col-sm-3 col-md-2 col-lg-2 maxHeight scrollable hidden-print navbar">
	<div class="panel-group">
		<div
			class="panel panel-default"
			ng-repeat="group in groups | orderBy:'order'">
			<div class="panel-heading">
				<h4 class="panel-title">{{language[group.title]}}</h4>
			</div>
			<div class="nav-collapse in">
				<div
					ng-repeat="link in group.links | orderBy:'order'"
					ui-sref-active="highlight">
					<a ui-sref="{{link.path}}">{{language[link.title]}}</a>
				</div>
			</div>
		</div>
	</div>
</div>