<div class="row">
	<form
		name="poseForm"
		model="pose">
		<div class="col-lg-12">
			<div class="input-group">
				<span class="input-group-addon inputLabel">{{language['action.pose.name']}}</span>
				<input
					type="text"
					class="form-control"
					placeholder="Pose Name"
					required
					name="name"
					saveable
					ng-model="pose.name">
			</div>
			<div class="input-group">
				<span class="input-group-addon inputLabel">
					<span class="hidden-xs">{{language['action.pose.speedModifier']}}</span>
					<span class="visible-xs">{{language['action.pose.speedModifier.short']}}</span>
				</span>
				<slider
					name="speedModifier"
					saveable
					class="form-control"
					floor="1"
					ceiling="300"
					ng-model="pose.speedModifier"
					step="1"> </slider>
				<span class="input-group-addon">{{pose.speedModifier}}%</span>
			</div>
			<div class="input-group">
				<span class="input-group-addon inputLabel">
					<span class="hidden-xs">{{language['action.pose.minLength']}}</span>
					<span class="visible-xs">{{language['action.pose.minLength.short']}}</span>
				</span>
				<input
					type="number"
					class="form-control"
					min="0"
					placeholder="Minimum Pose Length"
					name="length"
					saveable
					integer
					ng-model="pose.minLength">
				<span class="input-group-addon">{{language['action.pose.minLength.units']}}</span>
			</div>
		</div>
	</form>
</div>
<hr />
<robot-interface
	robot="robot"
	show-connect="true"></robot-interface>
<hr />
<accordion close-others="true"> <accordion-group
	is-open="basicopen"> <accordion-heading>
Basic <i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': basicopen, 'glyphicon-chevron-right': !basicopen}"></i>
</accordion-heading> <basic-pose-editor
	pose="pose"
	robot="robot"></basic-pose-editor></accordion-group> <accordion-group
	is-open="advancedopen"> <accordion-heading>
Detailed <i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': advancedopen, 'glyphicon-chevron-right': !advancedopen}"></i>
</accordion-heading> <advanced-pose-editor
	pose="pose"
	connected="connected"
	robot="robot"></advanced-pose-editor> </accordion-group> </accordion>