<div>
	<form
		name="soundForm"
		model="sound">
		<span>Sound Editor</span>
		<div class="input-group">
			<span class="input-group-addon">Name</span>
			<input
				name="name"
				type="text"
				class="form-control"
				placeholder="Sound Name"
				required
				ng-model="sound.name">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Select File</span>
			<input
				class="form-control"
				type="file"
				onchange="angular.element(this).scope().setFiles(this)" />
			<span class="input-group-btn">
				<button
					class="btn btn-default"
					type="button"
					ng-click="uploadFile(file)">Upload</button>
			</span>
		</div>
	</form>
</div>