/*start of design elements */
body {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: large;
}

.blue {
    background-color: #91D7E7;
}

.orange {
    background-color: #E9A972;
}

.teal {
    background-color: #85CFC5;
}

.pink {
    background-color: #F7B1B5;
}

.grey {
    background-color: #BBBDC1;
}

.splash {
    background-image: url('/img/teacher/banner_large.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    height: 450px;
}

/*end of design elements */
.nav-tabs>li>a {
    border-radius: 2px 2px 0 0;
    font-variant: small-caps;
    font-weight: bold;
    padding: 2px 4px;
    font-size: 1.0em;
    background-color: #edf;
}

@media ( min-width : 768px) {
    .nav-tabs>li>a {
        border-radius: 3px 3px 0 0;
        padding: 4px 6px;
        font-size: 1.0em;
    }
}

@media ( min-width : 992px) {
    .nav-tabs>li>a {
        border-radius: 4px 4px 0 0;
        padding: 6px 8px;
        font-size: 1.5em;
    }
}

@media ( min-width : 1200px) {
    .nav-tabs>li>a {
        border-radius: 5px 5px 0 0;
        padding: 10px 14px;
        font-size: 2.0em;
    }
}

.tab-content {
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-radius: 0 0 3px 3px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-pane .nav-tabs>li>a {
    border-radius: 3px 3px 0 0;
    padding: 2px 4px;
    font-size: 1.0em;
}

@media ( min-width : 768px) {
    .tab-pane .nav-tabs>li>a {
        border-radius: 4px 4px 0 0;
        padding: 3px 6px;
        font-size: 1.5em;
    }
}

@media ( min-width : 992px) {
    .tab-pane .nav-tabs>li>a {
        border-radius: 5px 5px 0 0;
        padding: 7px 12px;
        font-size: 1.75em;
    }
}

@media ( min-width : 1200px) {
    .tab-pane .nav-tabs>li>a {
        border-radius: 6px 6px 0 0;
        padding: 10px 15px;
        font-size: 1.7em;
    }
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
    {
    color: #85CFC5;
    background-color: #ffb;
}

.nav>li>a:hover,.nav>li>a:focus,.clickable:hover {
    text-decoration: none;
    background-color: #BBBDC1;
    cursor: pointer;
}

a:hover,a:focus {
    color: #85CFC5;
}

a {
    color: #91D7E7;
}

.selected {
    background-color: #E9A972;
}

.title {
    font-weight: bold;
    font-variant: small-caps;
}

.container_note {
    border-color: #000;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 3px;
    background-color: inherit;
}

.container_user,.container_scenario,.container_game {
    border-color: #ddd;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    margin-left: 11px;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    float: left;
    position: relative;
    padding: 3px;
    background-color: inherit;
    width: 131px;
}

.container_user * img,.container_scenario * img,.container_game * img {
    width: 100px;
    height: 100px;
}

.playCounter {
    float:right;
}

.highlight {
    background-color: #f2b4bd;
}

/* rating colours */
.rating {
    border-radius: 15px;
}

.bad_rating.selected,.bad_rating:hover,.bad {
    background-color: #f2b4bd;
}

.moderate_bad_rating.selected,.moderate_bad_rating:hover,.moderate_bad {
    background-color: #f2cab4;
}

.neutral_rating.selected,.neutral_rating:hover,.neutral {
    background-color: #f2e9b4;
}

.moderate_good_rating.selected,.moderate_good_rating:hover,.moderate_good,.finishedgame
    {
    background-color: #dcf2b4;
}

.good_rating.selected,.good_rating:hover,.good,.activegame {
    background-color: #bdf2b4;
}

/*end rating colours*/

/*start main layout*/
body {
    background-color: #FFF;
    color: #000;
}

header {
    height: 48px;
    margin-bottom: 4px;
}

header .strapline {
    background-image: none;
    background-size: contain;
}

header .logo {
    background-image: url('/img/teacher/banner_small.png');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 41px;
    width: 140px;
}

footer {
    height: 39px;
    margin-top: 3px;
}

@media ( min-width : 768px) {
    html {
        height: 100%;
    }
    body {
        padding-top: 41px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 39px;
        height: 100%;
    }
    footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    header {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
    }
    header .strapline {
        background-image: url('/img/teacher/strapline.png');
        background-position: center right;
        background-repeat: no-repeat;
        height: 41px;
        width: 505px;
    }
}
/*end main layout*/
.center {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.mainContent {
    margin-right: 5px;
    overflow-x: hidden;
}

@media ( min-width : 768px ) {
    .mainContent {
        overflow-y: auto;
        height: 100%;
    }
}

.btn-red {
    background-color: red;
}

.btn-green {
    background-color: green;
}

.btn-action {
    height: 4em;
    width: 100%;
    margin: 5px;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: bold;
}

.noteInput {
    height: 300px;
    width: 100%;
}

/*inverted*/
/* body { */
/* 	background-color: #000; */
/* 	color: #FFF; */
/* } */

/* .container_game,.container_note,.container_user,.container_scenario { */
/* 	border-color: #eee; */
/* } */

/* .nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus */
/* 	{ */
/* 	background-color: #444; */
/* } */

/* .bad_rating.selected,.bad_rating:hover,.bad, */
/* .moderate_bad_rating.selected,.moderate_bad_rating:hover,.moderate_bad, */
/* .neutral_rating.selected,.neutral_rating:hover,.neutral, */
/* .moderate_good_rating.selected,.moderate_good_rating:hover,.moderate_good,.finishedgame, */
/* .good_rating.selected,.good_rating:hover,.good,.activegame, button { */
/* 	color: #000; */
/* } */
