
<div class="detail_game">
	<div>
		<img ng-src="img/teacher/game/{{game.fullsrc}}" />
	</div>
	<div class="title">{{game.name}}</div>
	<div>{{game.desc_long}}</div>
	<div ng-show="game.objectives">
		<span class="title">Objectives:</span>
		<span
			ng-repeat="objective in game.objectives"
			ng-class="{highlight:objective.key==selectedObjective.key}"
			class="clickable"
			ng-click="toggleObjective(objective)">{{objective.title}}, </span>
	</div>
	<div><span class="title">Number of Plays:</span> {{game.plays}}</div>
	<div><span class="title">Total Playtime:</span> {{game.totTime}}</div>
	<div><span class="title">Last Time Played:</span> {{game.lastPlay}}</div>
	<div ng-show="game.tags">
		<span class="title">Tags:</span>
		<span
			ng-repeat="tag in game.tags"
			ng-class="{highlight:tag.key==selectedTag.key}"
			class="clickable"
			ng-click="toggleTag(tag)">{{tag.title}}, </span>
	</div>
</div>