<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <div>
            <div><span class="title">Child</span></div>
            <select
                class="selectpicker form-control"
                ng-model="selectedUser"
                ng-disabled="users.length <= 1"
                ng-options="user.name for user in users| orderBy:'name'">
                <option value="">All</option>
            </select>
        </div>
        <div>
            <div><span class="title">Interactions</span></div>
            <div
                ng-repeat="interaction in interactions | filter:userFilter | orderBy:'time' | orderBy:'date'"
                class="clickable {{colors[getAverageScore(interaction.users)]}}"
                ng-click="select(interaction)">{{interaction.startTime | date : 'medium' }}</div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <detail-history
            ng-show="selectedInteraction"
            interaction="selectedInteraction"></detail-history>
    </div>
</div>
