<div class="row">
    <div class="col-lg-12 center" ng-show="showStart">Press 'Start Play Scenario' to begin</div>
    <div class="col-lg-12 center" ng-show="!showStart">Press 'Finish Play Scenario' to continue</div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <button
            type="button"
            ng-click="start()"
            ng-show="showStart"
            class="btn btn-default btn-lg btn-green">Start Play Scenario</button>
        <button
            type="button"
            ng-show="!showStart"
            ng-click="end()"
            class="btn btn-default btn-lg btn-red">Finish Play Scenario</button>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <tabset>
        <tab heading="Details" ><detail-game game='game'></detail-game></tab>
        <tab heading="Buttons" ><action-buttons
                                        interaction="interaction"
                                        triggers="game.triggers"
                                        show-hot-keys="true"
                                        key-bind="false" ></action-buttons></tab>
    </tabset>
</div>
