<div ng-controller="operatorController">
	<div class="row">
		<div class="col-md-5 col-lg-4">
			<div id="operatorsList">
				<div class="input-group">
					<span class="input-group-addon">Operator</span>
					<select
						class="selectpicker form-control"
						ng-model="selectedOperator"
						ng-options="operator.fullname for operator in operators | orderBy:'fullname'">
						<option value="">--Select Operator--</option>
					</select>
					<span class="input-group-btn">
						<button
							class="btn btn-default"
							type="button"
							ng-click="newOperator()">New</button>
						<button
							class="btn btn-default"
							type="button"
							ng-click="deleteOperator(selectedOperator)">Delete</button>
					</span>
				</div>
			</div>
			<form
				name="operatorsForm"
				model="selectedOperator">
				<div class="input-group">
					<span class="input-group-addon">Name</span>
					<input
						type="text"
						class="form-control"
						placeholder="Full Name"
						saveable
						required
						name="fullname"
						ng-model="selectedOperator.fullname">
				</div>
				<div class="input-group">
					<span class="input-group-addon">Common Users</span>
					<div
						class="list-group form-control"
						ng-blur="saveOperator()"
						ng-class="{ 'has-success': usersSaved, 'has-warning': operatorsForm.$dirty && !userSaved }">
						<span
							class="list-group-item"
							ng-repeat="user in users | orderBy:'fullname'">
							<span class="input-group">
								<span class="input-group-addon">
									<input
										type="checkbox"
										ng-checked="(model.users | filter:{id:user.id}).length == 1"
										ng-click="updateOperatorUser($event, model, user)">
								</span>
								<input
									type="text"
									class="form-control"
									value="{{user.fullname}}"
									ng-disabled="true">
							</span>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-7 col-lg-6"></div>
	</div>
</div>