<div
	ng-cloak
	id="actionsList">
	<div class="input-group">
	   <span class="input-group-btn">
	    <dropdown
	        menu-type="select"
	        prompt="{{language['action.label']}}"
            dd-model="type"
            dd-options="types"></dropdown></span>
		<select
			class="selectpicker form-control"
			ng-model="action"
			ng-disabled="actions.length == 0"
			ng-options="action.name group by action.type for action in actions | orderBy:'name' | filter:typeFilter:strict">
			<option value="">{{language['action.select.prompt']}}</option>
		</select>
		<span class="input-group-btn">
			<button
				class="btn btn-default"
				type="button"
				ng-click="newAction()">{{language['action.new']}}</button>
			<button
				class="btn btn-default"
				ng-disabled="!action"
				type="button"
				ng-click="deleteAction(action)">{{language['action.delete']}}</button>
		</span>
	</div>
	<hr />
	<div ng-if="action">
		<div class="input-group" ng-show="!action.id">
			<span class="input-group-addon inputLabel">{{language['action.type.label']}}</span>
			<select
				ng-disabled="action.id"
				class="selectpicker form-control"
				ng-model="action.type"
				ng-options="type.name as type.disp for type in types | orderBy:'type.disp'">
				<option value="">{{language['action.type.select.prompt']}}</option>
			</select>
		</div>
		<action-editor
			action="action"
			actions="actions"></action-editor>
	</div>
</div>