<ng-form
	name="hotkeyEditor"
	model="hotkey">
	<div class="input-group">
		<span class="input-group-addon inputLabel">{{language['trigger.button.hotkey.label']}}</span>
		<input
			type="text"
			name="key"
			class="form-control"
			placeholder="Click here to enter keys"
			saveable
			ng-keydown="updateKey($event, hotkey)"
			ng-model="hotkey.keyString">
		<span class="input-group-btn">
			<button
				class="btn btn-default"
				type="button"
				ng-click="deleteKey()">{{language['trigger.button.hotkey.delete']}}</button>
		</span>
	</div>
</ng-form>