<div>
	<form
		name="sensorEditor"
		model="sensor">
		<div class="input-group">
			<span class="input-group-addon">Name</span>
			<input
				type="text"
				class="form-control"
				placeholder="Name"
				name="name"
				saveable
				required
				ng-model="sensor.name">
		</div>
		<div class="input-group">
			<span class="input-group-addon">Action</span>
			<select
				class="selectpicker form-control"
				saveable
				name="action"
				ng-model="sensor.action_id"
				ng-options="action.id as action.name group by action.type for action in actions | orderBy:'name'">
				<option value="">No Action</option>
			</select>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Sensor</span>
			<select
				class="selectpicker form-control"
				saveable
				required
				name="sensor"
				ng-model="selectedSensor"
				ng-options="sensor.name group by sensor.type for sensor in sensors | orderBy:'name'">
				<option value="">--Select Sensor--</option>
			</select>
		</div>
		<sensor-value-editor type='selectedSensor.type' sensor="selectedSensor" value="sensor.sensorValue"></sensor-value-editor>
		<div>
			<span>TODO:</span>
			<ul>
				<li>'ActionSensor' which triggers on action change</li>
			</ul>
		</div>
	</form>
</div>