
<div class="detail_scenario">
	<div>
		<img ng-src="img/teacher/game/{{scenario.fullsrc}}" />
	</div>
	<div>{{scenario.name}}</div>
	<div>Author: {{scenario.author.name}}</div>
	<div>{{scenario.desc_long}}</div>
	<div class="numPlays">
		<span class="title">Number of Plays:</span>
		{{scenario.plays}}
	</div>
	<div class="lastPlayed">
		<span class="title">Last Time Played:</span>
		{{scenario.lastPlay}}
	</div>
	<div class="totalTime">
		<span class="title">Total Playtime:</span>
		{{scenario.totTime}}
	</div>
	<div ng-show="scenario.objectives">
		<span class="title"> Objectives:</span>
		<span
			ng-repeat="objective in scenario.objectives"
			ng-class="{highlight:objective.key==selectedObjective.key}"
			class="clickable"
			ng-click="toggleObjective(objective)">{{objective.title}}, </span>
	</div>
	<div ng-show="scenario.tags">
		<span class="title"> Tags:</span>
		<span
			ng-repeat="tag in scenario.tags"
			ng-class="{highlight:tag.key==selectedTag.key}"
			class="clickable"
			ng-click="toggleTag(tag)">{{tag.title}}, </span>
	</div>
</div>