<div class="row">
	<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<container-user user="user"></container-user>
			</div>
		</div>
		<div
			class="row"
			ng-show="selected.length">
			<div class="col-xs-12">
				<span class="title">Selected Play Scenarios</span>
			</div>
		</div>
		<div
			class="row"
			ng-show="selected.length">
			<div class="col-xs-12">
				<container-game
					ng-repeat="game in selected | orderBy:'name'"
					game="game"
					short="true"></container-game>
			</div>
		</div>
	</div>
	<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
		<div
			class="row"
			ng-show="user.objectives">
			<div class="col-xs-12">
				<span class="title">Chosen objectives for {{user.name}} to
					cover:</span>
				<container-objective
					ng-repeat="objective in user.objectives"
					objective='objective'></container-objective>
			</div>
		</div>
		<div
			class="row"
			ng-show="user.objectives">
			<div class="col-lg-12">
				<span class="title">Targeted Play Scenarios</span>
			</div>
		</div>
		<div
			class="row"
			ng-show="user.objectives">
			<container-game
				ng-repeat="game in games | filter:itemFilter"
				class="clickable"
				ng-click="selectGame(game)"
				ng-class="{selected:isSelected(game)}"
				game='game'></container-game>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<span class="title">All Play Scenarios</span>
			</div>
		</div>
		<div class="row">
			<container-game
				ng-repeat="game in games"
				class="clickable"
				ng-click="selectGame(game)"
				ng-class="{selected:isSelected(game)}"
				game='game'></container-game>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<button
			type="button"
			ng-click="confirmGames()"
			class="btn btn-default btn-lg">Next</button>
		<button
			type="button"
			ng-click="back()"
			class="btn btn-default btn-lg">Back</button>
	</div>
</div>