<div>
	<div class="input-group">
		<span class="input-group-addon inputLabel">{{language['interaction.operator.label']}}</span>
		<select
			class="selectpicker form-control"
			ng-model="operator_id"
			ng-disabled="interaction"
			ng-options="operator.id as operator.fullname for operator in operators | orderBy:'fullname'">
			<option value="">{{language['interaction.operator.select.prompt']}}</option>
		</select>
	</div>
	<div class="input-group">
		<span class="input-group-addon inputLabel">{{language['interaction.user.label']}}</span>
		<select
			class="selectpicker form-control"
			ng-model="user_id"
			ng-disabled="interaction"
			ng-options="user.id as user.fullname group by getCategory(user, operator.users) for user in users | orderBy:'fullname'">
			<option value="">{{language['interaction.user.select.prompt']}}</option>
		</select>
	</div>
	<robot-interface robot="robot"></robot-interface>
	<div class="btn-toolbar">
		<div class="btn-group">
			<button
				class="btn btn-default"
				type="button"
				ng-disabled="!(user_id && operator_id && robot.id)"
				ng-if="interaction == null"
				ng-click="start()">{{language['interaction.start']}}</button>
			<button
				class="btn btn-default"
				type="button"
				ng-if="interaction != null"
				ng-click="stop()">{{language['interaction.stop']}}</button>
		</div>
	</div>
	<tabset ng-show="interaction != null"> <tab
		heading="Operator View"> <operator-interaction
		operator="operator"
		buttons="buttons"
		user="user"
		interaction="interaction"
		key-bind="keyBind"
		show-hot-keys="showHotKeys"></operator-interaction> </tab> <tab
		heading="User View"> <user-interaction
		user="user"
		buttons="buttons"
		interaction="interaction"
		key-bind="keyBind"
		show-hot-keys="showHotKeys"></user-interaction> </tab></tabset>
</div>
