<div>
	<ng-form
		name="sensorEditor"
		model="trigger">
	<div class="input-group">
		<span class="input-group-addon inputLabel">{{language['trigger.sensor.name']}}</span>
		<input
			type="text"
			class="form-control"
			placeholder="Sensor Trigger Name"
			name="name"
			saveable
			required
			ng-model="trigger.name">
	</div>
	<div class="input-group">
		<span class="input-group-addon inputLabel">{{language['trigger.sensor.action']}}</span>
		<select
			class="selectpicker form-control"
			saveable
			name="action"
			ng-model="trigger.action_id"
			ng-options="action.id as action.name group by action.type for action in actions | orderBy:'name'">
			<option value="">{{language['trigger.sensor.action.select.prompt']}}</option>
		</select>
	</div>
	<div class="input-group">
		<span class="input-group-addon inputLabel">{{language['trigger.sensor.sensor']}}</span>
		<select
			class="selectpicker form-control"
			saveable
			required
			name="sensor"
			ng-model="trigger.sensorName"
			ng-options="sensor.name as sensor.name group by sensor.type for sensor in sensors | orderBy:'name'">
			<option value="">{{language['trigger.sensor.sensor.select.prompt']}}</option>
		</select>
	</div>
	<sensor-value-editor
		sensor="selectedSensor"
		trigger="trigger"></sensor-value-editor>
	<div>
		<span>TODO:</span>
		<ul>
			<li>'ActionSensor' which triggers on action change</li>
		</ul>
	</div>
	</ng-form>
</div>