html {
	height: 100%;
}

header {
	height: 92px;
	background: #e6e6e6 url("../images/logo.png") no-repeat top left;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-family: 'Helvetica neue bold','Helvetica', 'Arial', sans-serif;
}

header h1, header h2, header h3 {
	margin: 0;
}

footer {
	height: 30px;
	font-size: small;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

#main {
	position: fixed;
	top: 92px;
	left: 0px;
	right: 0px;
	bottom: 30px;
	padding: 15px;
}

#navBar {
	dispay: block;
	width: 20%;
	float: left;
	height: 100%;
	overflow-y: hidden;
}

#content {
	width: 80%;
	float: right;
	height: 100%;
	overflow-y: auto;
}

#navMenu {
	width: 100%;
	height: 100%;
}