<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>KASPAR GUI v{{version}}</title>
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<style type="text/css">
body {
	padding-top: 93px;
	padding-bottom: 50px;
}

.container {
	max-width: 100%;
}
.maxHeight {
	height: 100%;
	max-height:100%;
}
.scrollable {
	overflow-y: auto;
}
</style>
</head>
<body class="maxHeight">
	<nav class="navbar navbar-fixed-top text-center">
		<header>
			<h1>KASPAR Web Interface</h1>
			<h6>Version {{version}}</h6>
		</header>
	</nav>
	<div class="container maxHeight">
		<div class="row maxHeight">
			<div class="col-md-3 col-lg-2">
				<div class="bs-sidebar">Side Nav</div>
			</div>
			<div class="col-md-9 col-lg-10 scrollable maxHeight" id="main">
				<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tempor diam et eleifend mollis. Duis egestas nulla vel dictum volutpat. Donec quis sapien malesuada, ultrices diam at, pharetra sem. Proin tristique luctus lacus. Phasellus interdum turpis id blandit feugiat. Etiam porttitor imperdiet nulla. Ut at pretium nibh. Integer at augue faucibus, dignissim augue mollis, vehicula nunc.

Integer nec tellus porttitor, scelerisque neque eu, congue eros. Donec non feugiat neque. Suspendisse viverra elementum leo, ac tincidunt nisl pellentesque ut. Pellentesque adipiscing lectus vel elit laoreet, vel gravida est vulputate. Sed lobortis diam porta, hendrerit nisl et, auctor orci. Integer ac elit justo. Fusce tristique, mi quis varius ullamcorper, purus urna posuere nibh, a rhoncus erat tellus ut neque. Maecenas dictum ligula sit amet magna sagittis malesuada. Curabitur id interdum nunc, sit amet adipiscing sem. Donec ut dolor et erat consectetur varius. Integer lacinia sem eget arcu pellentesque fringilla. Etiam sit amet fringilla nibh, vel commodo nulla. Aenean eu felis eros. Suspendisse potenti. Curabitur aliquam nibh vitae magna varius, eu lobortis leo luctus. Phasellus in consequat velit.

Cras convallis neque quam, sit amet commodo lacus malesuada nec. Nulla eu tellus a sapien lacinia ultricies. Nam feugiat dolor sagittis tortor congue, id semper quam tristique. Nunc vel erat in ante interdum pharetra. Curabitur tortor sem, tempus ut arcu aliquam, interdum volutpat dui. Etiam interdum lacus ut augue pretium vestibulum. Praesent molestie, elit nec lacinia dapibus, risus augue scelerisque nibh, a porta massa arcu in est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque gravida venenatis sapien, eget euismod enim eleifend at. Sed fermentum hendrerit odio eget condimentum. Quisque vitae ipsum dolor. Nam quis est aliquam, tincidunt urna id, tristique nulla.

Nam eleifend turpis quis venenatis consectetur. Proin tempus, nibh in sollicitudin dignissim, libero tortor viverra sem, a ultricies augue tortor id lacus. Maecenas nec lobortis elit. Vivamus laoreet sodales sapien vel molestie. Ut iaculis pharetra porttitor. Aliquam tempor consectetur massa non blandit. Nam pharetra lectus urna. Curabitur in sapien quam. Donec vel consequat turpis, at eleifend mauris.

Etiam tempus libero a odio feugiat dapibus. Nam eget pharetra neque. Donec vehicula orci lorem. Nunc mollis ultricies tellus sed vulputate. Praesent nec ullamcorper eros, in eleifend mi. Sed ornare auctor quam egestas aliquam. Nam ac pharetra justo. Nunc varius enim at molestie venenatis. Donec lacus lacus, ultrices nec accumsan id, gravida eget eros. Maecenas tincidunt feugiat tortor nec cursus. Donec elementum tempor consequat. Etiam lacinia iaculis quam, a dignissim diam iaculis nec.

Ut ut feugiat sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec non feugiat metus. Aenean porttitor vel erat eu gravida. Aliquam varius rhoncus mi, et porta massa. Suspendisse potenti. Nunc id enim molestie, hendrerit orci ut, dignissim ante. Etiam nulla enim, imperdiet in ultrices at, bibendum vitae turpis. Etiam accumsan tellus nec quam viverra facilisis. Mauris et nisl non augue facilisis pellentesque vel iaculis magna. Pellentesque non metus euismod, gravida mauris eu, facilisis tortor. Donec vitae vehicula mi. Aenean viverra ac eros feugiat mollis.

Donec pharetra blandit lorem, ut pharetra ligula tempor porta. Praesent vulputate vehicula felis, nec malesuada leo commodo id. Vestibulum ultrices felis lorem, at convallis diam porta sit amet. Aliquam et mattis tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas rhoncus lectus eu dui tempus rhoncus. Morbi dapibus sodales augue eu auctor.

Cras a lacinia erat. Nulla imperdiet lobortis arcu vel facilisis. Vivamus eu massa at justo placerat egestas. Donec imperdiet est vel libero tincidunt feugiat. Pellentesque et lectus a est sollicitudin tempor eu ut lectus. In quis sollicitudin turpis, vel dignissim sapien. Nam erat felis, commodo nec dictum ut, tincidunt consectetur lorem. Vivamus interdum tellus ut dui placerat porttitor. Praesent eget rhoncus massa. Donec laoreet velit sit amet ullamcorper pulvinar.

Nunc varius condimentum neque. Suspendisse dictum scelerisque imperdiet. Nam mi nibh, egestas id convallis quis, tincidunt eget velit. Aenean sodales orci vitae mauris venenatis mollis. Mauris porta augue et dolor ullamcorper, at aliquam libero consectetur. Ut mattis a enim non vulputate. Suspendisse potenti. In eget tellus nisl.

Cras ac justo diam. Suspendisse ornare vestibulum eros, et porttitor eros vulputate eu. Nullam facilisis nibh a lorem porta, ac posuere sem consectetur. Mauris fermentum, enim at suscipit viverra, sem mauris faucibus felis, volutpat vestibulum risus arcu sit amet leo. Duis non augue in ligula vehicula luctus. Mauris at quam sit amet turpis mollis venenatis. Aliquam erat volutpat. In nec dignissim velit, sit amet rutrum nisi. Aliquam erat volutpat. Maecenas id urna at nisl laoreet ullamcorper. Etiam tincidunt tincidunt tempor. Proin nec vulputate arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

Ut id purus magna. Etiam pretium mattis sem non volutpat. Nulla facilisi. Nullam ultricies, lacus nec vehicula tincidunt, mauris neque sagittis elit, tincidunt feugiat tellus metus eget lacus. Proin scelerisque libero in risus sodales aliquet. Mauris auctor erat elit, eget semper nisi dignissim vitae. Morbi quis nisi iaculis, varius arcu vitae, porta nibh. Phasellus non sem non erat dapibus pharetra vel et metus. Ut non ultrices enim, eu feugiat nibh.

Suspendisse bibendum nibh vitae eros sodales molestie. Nullam venenatis, dolor eget sodales faucibus, justo elit laoreet nunc, vel tristique augue lectus sit amet nibh. Cras eu placerat tellus, eu commodo est. Aenean libero libero, vehicula id nisl a, commodo viverra tellus. Aliquam accumsan aliquam nulla ac pellentesque. Cras sit amet orci iaculis nisl dignissim bibendum. Praesent posuere risus eget turpis congue, et facilisis massa faucibus.

Etiam semper tempus purus, non condimentum magna imperdiet et. Nullam at elementum lorem, ac pulvinar tortor. Fusce ultricies tellus mi, sed gravida lacus placerat sit amet. Aliquam cursus eros nec risus porttitor tincidunt. Quisque dapibus arcu at tortor egestas, eget ultrices diam gravida. Mauris sit amet justo malesuada, suscipit mi at, malesuada libero. Sed sollicitudin hendrerit velit et pharetra. Nunc tristique, leo euismod porta eleifend, metus neque ultricies quam, viverra imperdiet nulla tortor a est. Maecenas placerat lorem ut neque blandit, eget ultrices sapien venenatis. Maecenas egestas tempus convallis. Morbi sollicitudin eleifend metus, at facilisis ligula interdum elementum. Curabitur semper massa id lectus molestie vehicula. Vestibulum tincidunt nisl metus.

Morbi ut condimentum dui. Nulla pulvinar feugiat sapien sed ultricies. Aenean aliquet ipsum eget egestas mollis. Proin tempus accumsan eros, id tempus neque posuere eget. Praesent iaculis, enim sed interdum vestibulum, lacus sapien hendrerit velit, vel semper dolor quam at purus. Morbi ullamcorper sapien velit, a sollicitudin neque pellentesque at. Ut id nulla elit. Duis dapibus, ante elementum luctus egestas, mauris erat viverra libero, vitae vulputate odio nisl id felis. Quisque non ornare nisi. Ut consequat velit sit amet lobortis vehicula. Nam et pellentesque turpis. Integer sodales lectus metus, ac cursus orci aliquet vitae. Suspendisse molestie nec ipsum ac varius. Nullam in sapien nec turpis sodales commodo.

Pellentesque faucibus euismod vehicula. Maecenas vestibulum felis nec neque sollicitudin lobortis. Aenean cursus dui vel tortor consectetur convallis. Vivamus nisi urna, scelerisque at purus eu, cursus ultrices enim. Suspendisse dapibus vitae nunc ut lacinia. Suspendisse bibendum eros vel nibh fringilla aliquet. Nulla id mollis est. Quisque vulputate odio velit, vitae placerat ligula cursus eu.</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-fixed-bottom text-center">
		<footer>
			<small>&copy;<a href="http://www.herts.ac.uk/research/stri">Science and Technology Research Institute</a>
				<div>University of Hertfordshire Hatfield, Hertfordshire, AL10 9AB, UK</div></small>
		</footer>
	</nav>
</body>
</html>
