<div>
    <form
        name="soundForm"
        model="sound">
        <div class="input-group">
            <span class="input-group-addon inputLabel">{{language['action.sound.name']}}</span>
            <input
                name="name"
                type="text"
                class="form-control"
                placeholder="Sound Name"
                required
                saveable
                ng-model="sound.name">
            <span class="input-group-btn">
                <button
                    class="btn btn-default"
                    type="button"
                    ng-click="save()">Save</button>
                <button
                    class="btn btn-default"
                    type="button"
                    ng-disabled="true"
                    ng-click="saveAs()">Save As</button>
                <button
                    class="btn btn-default"
                    type="button"
                    ng-click="run()">Run</button>
            </span>
        </div>
        <div
            class="input-group"
            ng-hide="sound.uuid">
            <span class="input-group-addon inputLabel">{{language['action.sound.selectFile']}}</span>
            <input
                class="form-control"
                ng-diabled="sound.uuid"
                type="file"
                name="soundFile"
                accept="audio/x-wav,audio/wav,application/ogg"
                file-model="soundFile" />
            <span class="input-group-btn">
                <button
                    class="btn btn-default"
                    type="button"
                    ng-disabled="sound.uuid"
                    ng-click="uploadSound(soundFile)">{{language['action.sound.upload']}}</button>
            </span>
        </div>
        <div
            class="input-group"
            ng-show="sound.uuid">
            <span class="input-group-addon inputLabel">{{language['action.sound.selectedFile']}}</span>
            <input
                type="text"
                ng-disabled="true"
                class="form-control"
                ng-model="sound.uuid" />
        </div>
        <div class="input-group noselect">
                        <span class="input-group-addon inputLabel">{{language['action.sound.volume'] || 'Volume'}}</span>
                        <div
                                        guislider
                                        name="volume"
                                        saveable
                                        ng-model="sound.volume"
                                        floor="1"
                                        ceiling="200"></div>
                        <span class="input-group-addon">{{sound.volume || 100}}%</span>
                </div>

    </form>
</div>
