<div class="row">
	<div class="col-lg-12">
		<ng-form
			name="jointForm"
			ng-class="{'has-info': jointPosition.unused && jointForm.$pristine}"
			model="jointPosition">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="hidden-xs">Joint Name</span>
				<span class="visible-xs">Name</span>
			</span>
			<select
				name="jointname"
				class="selectpicker form-control"
				ng-options="name for name in (jointNames || [jointPosition.jointName]) | orderBy:'toString()'"
				ng-model="jointPosition.jointName"
				ng-disabled="jointForm.jointname.$pristine && jointForm.jointname.$valid"
				required
				notEmpty
				saveable>
				<option value="">--Select Joint--</option>
			</select>
			<span
				class="input-group-btn"
				ng-if="!jointPosition.unused">
				<button
					class="btn btn-default"
					type="button"
					ng-click="removeJoint()">Remove</button>
			</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Position</span>
			<input
				name="jointposition"
				type="range"
				class="form-control"
				value="coalesce(jointPosition.position, servo.defaultPosition, servo.model.defaultPosition)"
				min="{{coalesce(servo.minPosition, servo.model.minPosition, -180)}}"
				max="{{coalesce(servo.maxPosition, servo.maxPosition, 180)}}"
				ng-model="jointPosition.position"
				required
				saveable />
			<span class="input-group-addon">{{coalesce(jointPosition.position,
				servo.defaultPosition, servo.model.defaultPosition)}}&deg;</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon">Speed</span>
			<input
				name="jointspeed"
				type="range"
				class="form-control"
				value="{{coalesce(jointPosition.speed, servo.defaultSpeed, servo.model.defaultSpeed)}}"
				min="{{coalesce(servo.minSpeed, servo.model.minSpeed, 1)}}"
				max="{{coalesce(servo.maxSpeed, servo.model.maxSpeed, 300)}}"
				ng-model="jointPosition.speed"
				saveable />
			<span class="input-group-addon">{{coalesce(jointPosition.speed,
				servo.defaultSpeed, servo.model.defaultSpeed)}}%</span>
		</div>
		</ng-form>
	</div>
</div>
