<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12 input-group">
				<span class="input-group-addon inputLabel">
					<span class="hidden-xs">Attached Robot</span>
					<span class="visible-xs">Robot</span>
				</span>
				<select
					ng-disabled="connected || configured"
					class="selectpicker form-control"
					ng-model="robot"
					ng-options="(item.name + ' (' + item.version + ')' ) for item in robots | orderBy:'name'">
					<option value="">None</option>
				</select>
				<span class="input-group-btn">
					<button
						class="btn btn-default"
						type="button"
						ng-disabled="!robot"
						ng-hide="connected"
						ng-click="connect(robot)">Connect</button>
					<button
						class="btn btn-default"
						type="button"
						ng-show="connected"
						ng-click="disconnect(robot)">Disconnect</button>
				</span>
			</div>
		</div>
		<!-- 		<div class="btn-group row"> -->
		<!-- 			<button class="btn btn-default" ng-disabled="true" type="button" ng-click="advancedPositioning(selected)">Advanced Positioning</button> -->
		<!-- 			<button class="btn btn-default" ng-disabled="true" type="button" ng-click="setPositioning(selected, true)" ng-hide="selected.poseEnable">Enable Positioning</button> -->
		<!-- 			<button class="btn btn-default" ng-disabled="true" type="button" ng-click="setPositioning(selected, false)" ng-show="selected.poseEnabled">Disable Positioning</button> -->
		<!-- 			<button class="btn btn-default" ng-disabled="true" type="button" ng-click="getCurrentPose(jointPositionsRaw)">Record Current Position</button> -->
		<!-- 		</div> -->
	</div>
</div>
