<div>
	<form
		novalidate
		name="robotForm"
		model="robot">
		<div class="input-group">
			<span class="input-group-addon inputLabel">Name</span>
			<input
				type="text"
				name="name"
				class="form-control"
				placeholder="Name"
				saveable
				ng-model="robot.name"
				required>
		</div>
		<div class="input-group">
			<span class="input-group-addon inputLabel">Model</span>
			<select
				ng-disabled="robotForm.model.$pristine && robotForm.model.$valid"
				name="model"
				class="selectpicker form-control"
				ng-model="robot.model_id"
				ng-options="model.id as model.name for model in models | orderBy:'model.name'"
				saveable
				required>
				<option value="">--Select Model--</option>
			</select>
		</div>
		<div class="input-group">
			<span class="input-group-addon inputLabel">Version</span>
			<input
				type="text"
				name="version"
				class="form-control"
				placeholder="Version"
				ng-disabled="robotForm.model.$pristine && robotForm.model.$valid"
				saveable
				ng-model="robot.version"
				required>
		</div>
	</form>
	<div class="btn-group pull-right">
		<button
			class="btn btn-default"
			type="button"
			ng-disabled="false"
			ng-click="viewJoints = !viewJoints">View Joints</button>
		<button
			class="btn btn-default"
			type="button"
			ng-disabled="true"
			ng-click="calibrateJoints = !calibrateJoints">Calibrate Joints</button>
	</div>
	<view-robot robot="robot" ng-if=viewJoints></view-robot>
	<calibrate-robot robot="robot" ng-if=calibrateJoints></calibrate-robot>
</div>