
<accordion close-others="true"> <accordion-group
	is-open="configsOpen"> <accordion-heading>Servo
Model Configs <i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': configsOpen, 'glyphicon-chevron-right': !configsOpen}"></i>
</accordion-heading>
<div
	ng-repeat="item in servoConfigs"
	class="col-lg-6 col-sm-12">
	<strong>{{item.model.name}}</strong>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Servo Model Id</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.id"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Port</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.port"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Port Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.portSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Position Scale</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.positionScale"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Position Offset</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.positionOffset"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Default Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.defaultSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Min Position</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.minPosition"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Max Position</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.maxPosition"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Default Position</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.defaultPosition"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Speed Scale</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.speedScale"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Min Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.minSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Max Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.maxSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Default Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.defaultSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Poseable</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model.poseable"
			ng-readonly="true">
	</span>
	<span
		class="input-group"
		ng-if="item.extraData">
		<span class="input-group-addon inputLabel">Other</span>
		<span class="list-group form-control">
			<span
				class="list-group-item"
				ng-repeat="(key, value) in item.extraData">
				<span class="input-group">
					<span class="input-group-addon inputLabel">{{key}}</span>
					<input
						type="text"
						class="form-control"
						placeholder="Not Set"
						ng-model="value"
						ng-readonly="true">
				</span>
			</span>
		</span>
	</span>
</div>
</accordion-group> <accordion-group is-open="groupsOpen"> <accordion-heading>Servo
Groups <i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': groupsOpen, 'glyphicon-chevron-right': !groupsOpen}"></i>
</accordion-heading>
<div
	ng-repeat="item in servoGroups"
	class="col-lg-4 col-md-6 col-sm-12">
	<strong>{{item.name}}</strong>
	<span
		class="input-group"
		ng-repeat="servo in item.servos">
		<span class="input-group-addon inputLabel">Servo Name</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="servo.jointName"
			ng-readonly="true">
	</span>
</div>
</accordion-group> <accordion-group is-open="servosOpen"> <accordion-heading>Servos
<i
	class="pull-right glyphicon"
	ng-class="{'glyphicon-chevron-down': servosOpen, 'glyphicon-chevron-right': !servosOpen}"></i>
</accordion-heading>
<div
	ng-repeat="item in servos"
	class="col-lg-4 col-md-6 col-sm-12">
	<strong>{{item.jointName}}</strong>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Servo Model Id</span>
		<input
			type="text"
			class="form-control"
			placeholder="Not Set"
			ng-model="item.model_id"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Default Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Inherit"
			ng-model="item.defaultSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Min Position</span>
		<input
			type="text"
			class="form-control"
			placeholder="Inherit"
			ng-model="item.minPosition"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Max Position</span>
		<input
			type="text"
			class="form-control"
			placeholder="Inherit"
			ng-model="item.maxPosition"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Default Position</span>
		<input
			type="text"
			class="form-control"
			placeholder="Inherit"
			ng-model="item.defaultPosition"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Min Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Inherit"
			ng-model="item.minSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Max Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Inherit"
			ng-model="item.maxSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Default Speed</span>
		<input
			type="text"
			class="form-control"
			placeholder="Inherit"
			ng-model="item.defaultSpeed"
			ng-readonly="true">
	</span>
	<span class="input-group">
		<span class="input-group-addon inputLabel">Poseable</span>
		<input
			type="text"
			class="form-control"
			placeholder="Inherit"
			ng-model="item.poseable"
			ng-readonly="true">
	</span>
	<span
		class="input-group"
		ng-if="item.extraData">
		<span class="input-group-addon inputLabel">Other</span>
		<span class="list-group form-control">
			<span
				class="list-group-item"
				ng-repeat="(key, value) in item.extraData">
				<span class="input-group">
					<span class="input-group-addon inputLabel">{{key}}</span>
					<input
						type="text"
						class="form-control"
						placeholder="Not Set"
						ng-model="value"
						ng-readonly="true">
				</span>
			</span>
		</span>
	</span>
</div>
</accordion-group> </accordion>
